1. 패키지 불러오기

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from google.colab import drive
import os

def change_dir(path):
  os.chdir(path)

2. 데이터 불러오기

In [ ]:
# 드라이브 연결하기
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 경로 변경하기

change_dir('/content/drive/MyDrive/real_asset')
  
print('경로 변경 후 %s' % os.getcwd())

경로 변경 후 /content/drive/MyDrive/real_asset

In [ ]:
# 데이터 불러오기
E_Rm = pd.read_csv('trade_ind.csv',index_col=0)
E_Ri = pd.read_csv('E_Ri.csv',index_col=0)
SMB = pd.read_csv('SMB.csv',index_col=0)
R_f = pd.read_csv('R_f.csv', index_col=0)

In [128]:
E_Rm

       계약날짜        서울
0    201207 -0.013298
1    201208 -0.008086
2    201209 -0.005435
3    201210 -0.001366
4    201211 -0.004104
..      ...       ...
114  202201 -0.006575
115  202202 -0.009377
116  202203  0.010579
117  202204  0.011570
118  202205 -0.014706

[119 rows x 2 columns]

In [ ]:
HML = pd.read_csv('전세가율_최종.csv')
HML = HML.transpose()
HML= HML.rename(columns=HML.iloc[0])
HML = HML.drop(HML.index[0])
HML = HML[SMB.columns]
HML

,가락동,가양동,갈현동,개봉동,개포동,고척동,공덕동,공릉동,광장동,구로동,...,하계동,하왕십리동,하월곡동,한남동,행당동,홍은동,홍제동,화곡동,휘경동,흑석동
201206,0.405234,0.630844,0.595077,0.630398,0.255347,0.571994,0.655195,0.587762,0.603997,0.695028,...,0.611781,0.56653,0.633402,0.617372,0.605557,0.617598,0.620383,0.730352,0.624892,0.65333
201207,0.36818,0.631576,0.664492,0.574329,0.294549,0.55686,0.540515,0.591986,0.592367,0.638445,...,0.631082,0.622058,0.531194,0.584819,0.574652,0.667222,0.692582,0.638167,0.679832,0.487445
201208,0.371177,0.57209,0.755617,0.627902,0.305566,0.559265,0.549642,0.585541,0.562166,0.65604,...,0.629971,0.726249,0.622351,0.529894,0.673364,0.575141,0.635328,0.692722,0.596293,0.49972
201209,0.414972,0.618181,0.767676,0.615712,0.297126,0.602592,0.598941,0.599906,0.590358,0.651539,...,0.629576,0.611382,0.596134,0.798568,0.621025,0.527254,0.713652,0.677789,0.710087,0.500031
201210,0.388203,0.634335,0.604272,0.616488,0.309737,0.589263,0.64712,0.602385,0.675459,0.672564,...,0.664414,0.602377,0.574187,0.535843,0.634696,0.651685,0.624729,0.609759,0.6276,0.509357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202201,0.465374,0.404697,1.054238,0.471834,0.322422,0.458467,0.513933,0.590763,0.54341,0.503315,...,0.42182,0.505358,0.497363,0.579489,0.407449,0.894775,0.693364,0.710811,0.457844,0.398081
202202,0.498884,0.423016,1.432109,0.534029,0.457361,0.520755,0.457341,0.592306,0.446555,0.559213,...,0.394619,0.518573,0.562507,0.546797,0.501939,0.540042,0.561265,0.838387,0.620427,0.408157
202203,0.486582,0.3697,0.910981,0.56496,0.307963,0.467476,0.393442,0.543125,0.488288,0.593763,...,0.409233,0.751754,0.449025,0.398708,0.401711,0.663491,0.611122,0.63162,0.527319,0.57594
202204,0.396167,0.327683,0.990289,0.565089,0.367308,0.461533,0.426944,0.499966,0.469861,0.584699,...,0.409584,0.495443,0.463235,0.419121,0.489225,0.475432,0.515104,0.866014,0.452961,0.396613
202205,0.392342,0.465372,0.797982,0.566804,0.307419,0.485085,0.468497,0.556369,0.526289,0.585701,...,0.417562,0.603936,0.63665,0.389366,0.641717,0.679112,0.503562,0.712679,0.459929,0.42622

In [ ]:
HML

,가락동,가양동,갈현동,개봉동,개포동,고척동,공덕동,공릉동,광장동,구로동,...,하계동,하왕십리동,하월곡동,한남동,행당동,홍은동,홍제동,화곡동,휘경동,흑석동
201206,0.405234,0.630844,0.595077,0.630398,0.255347,0.571994,0.655195,0.587762,0.603997,0.695028,...,0.611781,0.56653,0.633402,0.617372,0.605557,0.617598,0.620383,0.730352,0.624892,0.65333
201207,0.36818,0.631576,0.664492,0.574329,0.294549,0.55686,0.540515,0.591986,0.592367,0.638445,...,0.631082,0.622058,0.531194,0.584819,0.574652,0.667222,0.692582,0.638167,0.679832,0.487445
201208,0.371177,0.57209,0.755617,0.627902,0.305566,0.559265,0.549642,0.585541,0.562166,0.65604,...,0.629971,0.726249,0.622351,0.529894,0.673364,0.575141,0.635328,0.692722,0.596293,0.49972
201209,0.414972,0.618181,0.767676,0.615712,0.297126,0.602592,0.598941,0.599906,0.590358,0.651539,...,0.629576,0.611382,0.596134,0.798568,0.621025,0.527254,0.713652,0.677789,0.710087,0.500031
201210,0.388203,0.634335,0.604272,0.616488,0.309737,0.589263,0.64712,0.602385,0.675459,0.672564,...,0.664414,0.602377,0.574187,0.535843,0.634696,0.651685,0.624729,0.609759,0.6276,0.509357
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202201,0.465374,0.404697,1.054238,0.471834,0.322422,0.458467,0.513933,0.590763,0.54341,0.503315,...,0.42182,0.505358,0.497363,0.579489,0.407449,0.894775,0.693364,0.710811,0.457844,0.398081
202202,0.498884,0.423016,1.432109,0.534029,0.457361,0.520755,0.457341,0.592306,0.446555,0.559213,...,0.394619,0.518573,0.562507,0.546797,0.501939,0.540042,0.561265,0.838387,0.620427,0.408157
202203,0.486582,0.3697,0.910981,0.56496,0.307963,0.467476,0.393442,0.543125,0.488288,0.593763,...,0.409233,0.751754,0.449025,0.398708,0.401711,0.663491,0.611122,0.63162,0.527319,0.57594
202204,0.396167,0.327683,0.990289,0.565089,0.367308,0.461533,0.426944,0.499966,0.469861,0.584699,...,0.409584,0.495443,0.463235,0.419121,0.489225,0.475432,0.515104,0.866014,0.452961,0.396613
202205,0.392342,0.465372,0.797982,0.566804,0.307419,0.485085,0.468497,0.556369,0.526289,0.585701,...,0.417562,0.603936,0.63665,0.389366,0.641717,0.679112,0.503562,0.712679,0.459929,0.42622

3. X, Y 지정하기

In [ ]:
# X 데이터
X1 = pd.DataFrame(np.array(E_Rm.loc[:,['서울']]) - np.array(R_f), columns=['X1'])
SMB = SMB.reset_index(drop=True)
HML = HML.reset_index(drop=True)
# Y 데이터
Y = E_Ri.transpose() - R_f['국고채(3년,평균)']
Y = Y.transpose()

# train_set과 test_set 나누기 (7:3)
training_X1 = X1[:84]
training_SMB = SMB[:84]
training_HML = HML[:84]
training_Y = Y[:84]
test_X1 = X1[84:]
test_SMB = SMB[84:]
test_HML = HML[84:]
test_Y = Y[84:]

4. beta 구하기 (이 코드는 사용 안 했어요!)

In [ ]:

# # 회귀계수로 베타값 구하기
# beta_model2 = pd.DataFrame(columns = ['intercept', 'X1', 'SMB', 'HML'])
# r2score_list = pd.DataFrame(columns= ['score'])

# for i in range(training_Y.shape[1]):
#   lr = LinearRegression(fit_intercept=True) # 절편항 있는 회귀 모형
#   train_Xi = pd.concat([training_X1, training_SMB.iloc[:,i],training_HML.iloc[:,i]], axis=1) # SMB 등은 여기서 추가하면 됨.
#   train_Yi = training_Y.iloc[:,[i]] 
#   lr.fit(train_Xi, train_Yi) 

#   region = training_Y.iloc[:,[i]].columns[0]
#   test_Xi = pd.concat([test_X1, test_SMB.iloc[:,i]], axis = 1) # 각 동별 test X
#   test_Yi = test_Y.iloc[:,[i]] # 각 동별 test Y
#   predict_Yi = lr.predict(test_Xi)
#   r2score_list.loc[region] = r2_score(test_Yi,lr.predict(test_Xi))
#   beta_model2.loc[region,'intercept'] = lr.intercept_[0]
#   beta_model2.loc[region,'X1'] = lr.coef_[0][0]
#   beta_model2.loc[region,'SMB'] = lr.coef_[0][1]

## 기존 CAPM 식을 그대로 사용해서 해보기

1. CAPM과 SMB 사용하기

In [ ]:
# X 데이터
X1 = pd.DataFrame(np.array(E_Rm.loc[:,['서울']]) - np.array(R_f), columns=['X1'])
SMB = SMB.reset_index(drop=True)
HML = HML.reset_index(drop=True)
# Y 데이터
Y = E_Ri.transpose() - R_f['국고채(3년,평균)']
Y = Y.transpose()

# train_set과 test_set 나누기 (7:3)
training_X1 = X1[:84]
training_SMB = SMB[:84]
training_HML = HML[:84]
training_Y = Y[:84]
test_X1 = X1[84:]
test_SMB = SMB[84:]
test_HML = HML[84:]
test_Y = Y[84:]

In [ ]:
score_list_1 = []
for i in range(training_Y.shape[1]):
  lr = LinearRegression(fit_intercept=True) # 절편항 있는 회귀 모형
  train_Xi = pd.concat([training_X1, training_SMB.iloc[:,i]], axis=1) # SMB 등은 여기서 추가하면 됨.
  train_Yi = training_Y.iloc[:,[i]] 
  lr.fit(train_Xi, train_Yi) 
  score_list_1 += [lr.score(train_Xi,train_Yi)]

In [ ]:
score_list_1

In [ ]:
max(score_list_1)

0.2512594663482587

2. 매매지수 변화율과 SMB을 사용할 때(Y에 R_f를 빼지 않고, Rm에도 R_f를 빼지 않음)

In [ ]:
# X 데이터
X1 = pd.DataFrame(np.array(E_Rm.loc[:,['서울']]), columns=['X1'])
SMB = SMB.reset_index(drop=True)
HML = HML.reset_index(drop=True)
# Y 데이터
Y = E_Ri.transpose()
Y = Y.transpose()

# train_set과 test_set 나누기 (7:3)
training_X1 = X1[:84]
training_SMB = SMB[:84]
training_HML = HML[:84]
training_Y = Y[:84]
test_X1 = X1[84:]
test_SMB = SMB[84:]
test_HML = HML[84:]
test_Y = Y[84:]

In [ ]:
score_list_2 = []
for i in range(training_Y.shape[1]):
  lr = LinearRegression(fit_intercept=True) # 절편항 있는 회귀 모형
  train_Xi = pd.concat([training_X1, training_SMB.iloc[:,i]], axis=1) # SMB 등은 여기서 추가하면 됨.
  train_Yi = training_Y.iloc[:,[i]] 
  lr.fit(train_Xi, train_Yi) 
  score_list_2 += [lr.score(train_Xi,train_Yi)]

In [ ]:
max(score_list_2)

0.2356170344140125

3. 매매지수 변화율과 매매지수값과 SMB을 사용할 때(Y에 R_f를 빼지 않고, Rm에도 R_f를 빼지 않음)

In [ ]:
trade_ind = pd.read_csv('trade_ind_pct_change.csv',index_col=0)

In [ ]:
trade_ind

         시점     서울
0    201207   74.2
1    201208   73.6
2    201209   73.2
3    201210   73.1
4    201211   72.8
..      ...    ...
114  202201  181.3
115  202202  179.6
116  202203  181.5
117  202204  183.6
118  202205  180.9

[119 rows x 2 columns]

In [ ]:
# X 데이터
X1 = pd.DataFrame(np.array(E_Rm.loc[:,['서울']]), columns=['X1'])
X2 = pd.DataFrame(np.array(trade_ind.loc[:,['서울']]), columns=['X2'])
SMB = SMB.reset_index(drop=True)
HML = HML.reset_index(drop=True)
# Y 데이터
Y = E_Ri.transpose()
Y = Y.transpose()

# train_set과 test_set 나누기 (7:3)
training_X1 = X1[:84]
training_X2 = X2[:84]
training_SMB = SMB[:84]
training_HML = HML[:84]
training_Y = Y[:84]
test_X1 = X1[84:]
test_X2 = X2[84:]
test_SMB = SMB[84:]
test_HML = HML[84:]
test_Y = Y[84:]

In [ ]:
score_list_3 = []
for i in range(training_Y.shape[1]):
  lr = LinearRegression(fit_intercept=True) # 절편항 있는 회귀 모형
  train_Xi = pd.concat([training_X1, training_X2, training_SMB.iloc[:,i]], axis=1) # SMB 등은 여기서 추가하면 됨.
  train_Yi = training_Y.iloc[:,[i]] 
  lr.fit(train_Xi, train_Yi) 
  score_list_3 += [lr.score(train_Xi,train_Yi)]

In [ ]:
score_list_3

[0.07327973428512446,
 0.07140454955527664,
 0.007765525723296252,
 0.003530421841019371,
 0.09968518365977674,
 0.01022018318183171,
 0.008904450803644659,
 0.13760203857819175,
 0.039765594113601144,
 0.004541602475800155,
 0.016580734015799736,
 0.02677543757544598,
 0.0015323532749966784,
 0.029030108329533788,
 0.03839536789241016,
 0.08904845925317673,
 0.044087185184016,
 0.02157726853239028,
 0.011257783773709895,
 0.011642114773826595,
 0.018851868589086163,
 0.016498123403105636,
 0.003643635869374773,
 0.04181477071584028,
 0.05489330275413051,
 0.09831151267678695,
 0.018784574958227496,
 0.03039173166492437,
 0.012819680427417324,
 0.028902683243700267,
 0.015248500079204863,
 0.007867811187744933,
 0.006900174944024728,
 0.19499380427931412,
 0.04016003976188398,
 0.027478237962175966,
 0.042261339517560614,
 0.05323942292749362,
 0.003700210678626248,
 0.046264656935307236,
 0.008093676044456655,
 0.012871696225920992,
 0.025722302808085185,
 0.03180858742946091,
 0.026280523595412775,
 0.022585826077049842,
 0.14524517377932777,
 0.010291415213874888,
 0.04951491177361489,
 0.017312630002519924,
 0.060307301172057404,
 0.025191089084732998,
 0.08807400411977462,
 0.001456025901252489,
 0.01619921756507714,
 0.03855435255722828,
 0.06609568068260063,
 0.09292759055849331,
 0.01852516454623665,
 0.024958973150265185,
 0.015514475892079771,
 0.06265197471569584,
 0.19347929965167066,
 0.0391610003073235,
 0.030259916286114685,
 0.01063941473780683,
 0.012530554341021238,
 0.058601045205256774,
 0.021819910204622928,
 0.010037686322933004,
 0.24383355673772666,
 0.04765908986158518,
 0.03781970238279053,
 0.012931778461712451,
 0.0015871932903861463,
 0.05006537636583308,
 0.02007390546457133,
 0.025961486569866965,
 0.0793936829853964,
 0.005980081928311121,
 0.014137175201756058,
 0.011158077446334902,
 0.03424552430839267,
 0.058137301905788696,
 0.015097775468117525,
 0.07908576589691807,
 0.00670325003379868,
 0.01610715263006046,
 0.044750575691709926,
 0.0070256201333258606,
 0.03989070651209514,
 0.014958079141879854,
 0.017202417378909374,
 0.0013970577351646307,
 0.06217805738280735,
 0.04429802724549814,
 0.05672858471715325,
 0.07973774063842975,
 0.018279051226849474,
 0.005970614526237927,
 0.01723071627149997,
 0.039089557043687106,
 0.018433764294332855,
 0.11129689399333176,
 0.05567537035003678,
 0.0064195157414287385,
 0.03954622061627422,
 0.010690567819104713,
 0.06267406633270078,
 0.03419799457888695,
 0.004047037926033226,
 0.008909612529533595,
 0.06431769927759723]

In [ ]:
max(score_list_3)

0.24383355673772666

4. 매매지수 변화율과 매매지수값과 SMB, R_f를 사용할 때(Y에 R_f를 빼지 않고, Rm에도 R_f를 빼지 않음)

In [ ]:
# X 데이터
X1 = pd.DataFrame(np.array(E_Rm.loc[:,['서울']]), columns=['X1'])
X2 = pd.DataFrame(np.array(trade_ind.loc[:,['서울']]), columns=['X2'])
X3 = pd.DataFrame( np.array(R_f), columns=['X3'])
SMB = SMB.reset_index(drop=True)
HML = HML.reset_index(drop=True)
# Y 데이터
Y = E_Ri.transpose()
Y = Y.transpose()

# train_set과 test_set 나누기 (7:3)
training_X1 = X1[:84]
training_X2 = X2[:84]
training_X3 = X3[:84]

training_SMB = SMB[:84]
training_HML = HML[:84]
training_Y = Y[:84]
test_X1 = X1[84:]
test_X2 = X2[84:]
test_X3 = X3[84:]
test_SMB = SMB[84:]
test_HML = HML[84:]
test_Y = Y[84:]

In [ ]:
score_list_4 = []
for i in range(training_Y.shape[1]):
  lr = LinearRegression(fit_intercept=True) # 절편항 있는 회귀 모형
  train_Xi = pd.concat([training_X1, training_X2, training_X3, training_SMB.iloc[:,i]], axis=1) # SMB 등은 여기서 추가하면 됨.
  train_Yi = training_Y.iloc[:,[i]] 
  lr.fit(train_Xi, train_Yi) 
  score_list_4 += [lr.score(train_Xi,train_Yi)]

In [ ]:
score_list_4

[0.07445656314839866,
 0.07160743259461122,
 0.007785845458901819,
 0.003542791882303109,
 0.09975107117170923,
 0.011703127225276555,
 0.008936733594631097,
 0.13769175129980937,
 0.04076024174097925,
 0.005546204553476208,
 0.01701592979571731,
 0.027425590950215795,
 0.0028804809733262715,
 0.029060635622706665,
 0.038944572000166544,
 0.08954144775359829,
 0.04779981122975474,
 0.024810432795965953,
 0.01134313935773723,
 0.01218310285855384,
 0.01980080754931024,
 0.017883960591161152,
 0.005219333867042875,
 0.04186702070220927,
 0.05515011514016532,
 0.10063055046361002,
 0.02023205812353701,
 0.03120736387355738,
 0.013443026408674896,
 0.02892205163249051,
 0.01577513356275373,
 0.01258608715376186,
 0.007552590917456303,
 0.1950011755604122,
 0.04131564512125885,
 0.03387687262940564,
 0.04284138415480343,
 0.0538433716992236,
 0.003812939091486389,
 0.0469198328260082,
 0.008348022379705,
 0.012923708217825625,
 0.026714525026738767,
 0.038539689911523345,
 0.026848494286470848,
 0.0225923295412247,
 0.14678483540682574,
 0.010522282810619288,
 0.049517739816623774,
 0.017740953531811376,
 0.06545607625545447,
 0.027870321125956,
 0.08826764302424273,
 0.0014700995485881219,
 0.017224252136115448,
 0.0386646855036592,
 0.0661159197130452,
 0.09294381076805236,
 0.019423920713651288,
 0.02511217424456902,
 0.015568806940852942,
 0.06618408507036222,
 0.19489367978227967,
 0.039567361129254186,
 0.031039545683084313,
 0.010817018318705851,
 0.013121091988476219,
 0.05866930399718817,
 0.02182364759448796,
 0.011345808171869809,
 0.2446121198725867,
 0.047743437454156545,
 0.03937434157953634,
 0.01322928724200123,
 0.0017354350266294283,
 0.05138441776896008,
 0.020341360628925442,
 0.026139933492255296,
 0.0793947007146234,
 0.008993309858189025,
 0.01582344306551664,
 0.01279638064893518,
 0.03486558175761767,
 0.05815139041108475,
 0.015167481331973653,
 0.0792922322251709,
 0.008026569427122543,
 0.018695108722665665,
 0.04637466502548648,
 0.00743203090287281,
 0.039910938405835594,
 0.01496046521400618,
 0.01889231322917284,
 0.0024966483920036975,
 0.06357209887692727,
 0.04470679688487866,
 0.05843591481689969,
 0.07984820506129675,
 0.018314616991625177,
 0.0077331113155785225,
 0.0172347283927633,
 0.039466731083809825,
 0.019185187812063575,
 0.11226253751754878,
 0.05708382971088388,
 0.009028992133023106,
 0.03956068418742309,
 0.011723315270360857,
 0.06626336574115899,
 0.034203368876651985,
 0.0043613369050755635,
 0.01100462615334552,
 0.06561416488181393]

In [ ]:
max(score_list_4)

0.2446121198725867

5. CAPM과 SMB,HML 사용하기

In [ ]:
# X 데이터
X1 = pd.DataFrame(np.array(E_Rm.loc[:,['서울']]) - np.array(R_f), columns=['X1'])
SMB = SMB.reset_index(drop=True)
HML = HML.reset_index(drop=True)
# Y 데이터
Y = E_Ri.transpose() - R_f['국고채(3년,평균)']
Y = Y.transpose()

# train_set과 test_set 나누기 (7:3)
training_X1 = X1[:84]
training_SMB = SMB[:84]
training_HML = HML[:84]
training_Y = Y[:84]
test_X1 = X1[84:]
test_SMB = SMB[84:]
test_HML = HML[84:]
test_Y = Y[84:]

In [ ]:
score_list_5 = []
for i in range(training_Y.shape[1]):
  lr = LinearRegression(fit_intercept=True) # 절편항 있는 회귀 모형
  train_Xi = pd.concat([training_X1, training_SMB.iloc[:,i],training_HML.iloc[:,i]], axis=1) # SMB 등은 여기서 추가하면 됨.
  train_Yi = training_Y.iloc[:,[i]] 
  lr.fit(train_Xi, train_Yi) 
  score_list_5 += [lr.score(train_Xi,train_Yi)]

In [ ]:
score_list_5

In [ ]:
max(score_list_5)

0.23741578101781957

6. 매매지수 변화율과 SMB, HML을 사용할 때(Y에 R_f를 빼지 않고, Rm에도 R_f를 빼지 않음)

In [ ]:
# X 데이터
X1 = pd.DataFrame(np.array(E_Rm.loc[:,['서울']]), columns=['X1'])
SMB = SMB.reset_index(drop=True)
HML = HML.reset_index(drop=True)
# Y 데이터
Y = E_Ri.transpose()
Y = Y.transpose()

# train_set과 test_set 나누기 (7:3)
training_X1 = X1[:84]
training_SMB = SMB[:84]
training_HML = HML[:84]
training_Y = Y[:84]
test_X1 = X1[84:]
test_SMB = SMB[84:]
test_HML = HML[84:]
test_Y = Y[84:]

In [ ]:
score_list_7 = []
for i in range(training_Y.shape[1]):
  lr = LinearRegression(fit_intercept=True) # 절편항 있는 회귀 모형
  train_Xi = pd.concat([training_X1, training_SMB.iloc[:,i],training_HML.iloc[:,i]], axis=1) # SMB 등은 여기서 추가하면 됨.
  train_Yi = training_Y.iloc[:,[i]] 
  lr.fit(train_Xi, train_Yi) 
  score_list_7 += [lr.score(train_Xi,train_Yi)]

In [ ]:
max(score_list_7)

0.23741578101781957